node_modules/
build/
.env
.env.prod
.env.dev

# Backend
backend/node_modules/
backend/.env

#Frontend
frontend/node_modules/
frontend/build

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# General
.DS_Store
.vscode/
